body {
    background-color: #F2F0EF;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #F9F9F9;
    width: 100%;
    height: 60px;
    display: flex; 
    align-items: center; 
    padding-left: 6px;
    padding-right: 6px;
    justify-content: space-between;
    box-shadow: 0 4px 55px 0 rgba(0, 0, 0, 0.05); /* Add drop shadow */
}

p {
    margin: 0;
    padding: 0; /* Remove padding */
    font-size: 25px;
    font-family: "Libre Franklin", serif;
    font-weight: bold;
    color: #41337A;
    padding-left: 6px;
}

.icons {
    width: 25px;
    height: 25px;
    padding-right: 25px;
}